.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column
{
    @extend .flex;
    flex-direction: column;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}